:root{
    --h1_font_size: 2em;
    --h2_font_size: 1.5em;
}

.main{
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}

.h1{
    font-weight: 900;
    font-size: var(--h1_font_size);
    margin-block: 1rem;
}
.section{
    width: 100%;
    margin-block: 1rem;
    display: inline-flex;
    flex-direction: column;
}
.section__h2{
    font-size: var(--h2_font_size);
    font-weight: 700;
    margin-block: 1rem;
}
.example{
    align-self: center;
    width: auto;
    width: 70%;
    margin: 1rem;
}
.example__sample{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: rgb(218, 218, 218);
    max-height: 300px; 
}
.btn{
    padding: 0.5rem 1rem;
    background-color: grey;
    border-radius: 0.5rem;
    color: white;
    width: max-content;
    align-self: center;
}
.btn--gradient-border1{
    color: black;
    /*One linear-gradient that take all the button, except the 
    border and another linear-gradient that takes only the 
    borders. The white to white linear gradient can changed
    to the background color of the button that u want. */
    background: linear-gradient(white, white) padding-box, 
        linear-gradient(90deg,darkblue, red) border-box;
    border: solid transparent 6px; 
    border-radius: 0.4rem;
}
.input{
    background-color: white;
    border: solid gray 1px;
    padding: 0.3rem 1rem;
    border-radius: 3px;
}
.input:focus{
    border: none;
    outline: none;
}
.input--gradient-border{
    --border-w: 1px;
    --border-r: 0.5rem;
    border: solid grey var(--border-w);
    border-radius: var(--border-r);
}
.input--gradient-border:focus{
    background: linear-gradient(white, white) padding-box, 
        linear-gradient(90deg,darkblue, red) border-box;
    border: solid transparent var(--border-w);
    border-radius: var(--border-r);
}